#txtbox{
    position: relative;
    top:0px;
    left: 25px;
    
    width: 1460px; /* Set width of the container */
  height: 600px; /* Set height of the container */
  border: 1px solid black; /* Optional: Add border for visual clarity */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;

  background-color: red;
}


#txtbox1{
    position: relative;
    top:15px;

    left: 25px;

    width: 1460px; /* Set width of the container */
    height: 50px;

    border: 1px solid black;
    padding: 10px;

  background-color: blue;
}

#txtbox1 button:hover{
    background-color: rgb(16, 218, 16);
    border-color: green;
    border: 1px solid transparent;
}

#btn_dwnld{
    position: relative;
    left: 100px;
    background-color: black;
    height: 40px;
    width: 40px;
}
#btn_send{
    position: relative;
    left: 100px;
    background-color: black;
    height: 40px;
    width: 40px;
}
#btn_upload{
    position: relative;
    left: 100px;
    background-color: black;
    height: 40px;
    width: 40px;
}

#centeredd{
    /*left: 400px;*/
    background-color: blue;
    display:flex;
    align-items: right;
}
#centeredd1{
    left: 300px;
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    border-radius: 20px;
    width:180px;
    
}


#centeredd11{
    left: 300px;
    background-color: white;
    padding: 15px;
    width:180px;
    border: 3px solid black;
    border-radius: 20px;
    
}